body {
    margin: 0;
    background: turquoise;
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}

.sticky {
    height: 200px;
    border: none;
    border-radius: 10px;
}

.add-note {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border-color: turquoise;
    gap: 100px;
}

.add-note:active {
    border-color: teal
}


.bubble {
    padding: 30px;
    width: 200px;
    height: 200px;
    line-height: 50px;
    gap: 100px;
    border-radius: 100px;
    text-align: center;
    border: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
